    <div class="content w3-container w3-animate-left">
        <div class="box">
            <div class="list">
                <ul class="nav">
                    <li><a routerLink="/Client" class="">Clients</a></li>
                    <li><a routerLink="/Voiture" class="">Cars</a></li>
                    <li><a routerLink="/Garage" class="">Garage</a></li>
                    <li><a routerLink="/User" class="">Users</a></li>
                    <li><a routerLink="/History" class="">History</a></li>
                    <li><a (click)="logout()" class="">Logout</a></li>
                </ul>
            </div>
        </div>