<nav class="navbar navN w3-text-blue w3-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" routerLink="">Garden</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a routerLink="/Help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="box w3-container">
  <h4 class="w3-text-blue w3-center">Garden</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at cumque quisquam reprehenderit optio aliquam nam! Alias esse omnis odio ratione reprehenderit ipsam. Illum nostrum quam itaque iusto iste placeat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at cumque quisquam reprehenderit optio aliquam nam! Alias esse omnis odio ratione reprehenderit ipsam. Illum nostrum quam itaque iusto iste placeat?
  </p>
</div>
<router-outlet></router-outlet>
